.drink {
  margin-block-start: 2rem;
}

.drink__container {
  display: grid;
  padding-block-end: 3em;
  padding-inline: 1.8em;
  background-color: var(--color-primary-dark);
  max-width: 35rem;
  margin-inline: auto;
  border-radius: 1em;
}

.drink__favorites {
  position: relative;
  top: 65%;
  display: inline-block;
  margin-inline-start: auto;
}

.drink__button {
  background: transparent;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.drink__button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.drink__favorites svg {
  fill: #fff;
  width: 1.6rem;
  height: 1.6rem;
}

.drink__button--favorite svg {
  fill: var(--color-accent);
}

.drink__container h2 {
  position: relative;
  font-size: 2rem;
  color: var(--color-accent);
  font-family: var(--font-secondary);
  text-align: center;
  width: 75%;
  margin-inline: auto;
  top: 0.125rem;
}

.drink__container h3 {
  font-size: 1.4rem;
  color: var(--color-accent);
  font-family: var(--font-secondary);
  margin-block-start: 2rem;
}

.drink__container h3:after {
  display: block;
  position: relative;
  top: 0.4rem;
  left: 4%;
  content: "";
  width: 8rem;
  height: 0.125rem;
  background-color: var(--color-accent);
}

.drink__ingredients ul {
  text-align: center;
}
.drink__ingredients li:not(:first-of-type) {
  margin-block-start: 0.2rem;
}

.drink__ingredients ul,
.drink__instructions p {
  margin-block-start: 2rem;
}

.drink__ingredients li,
.drink__instructions p {
  font-size: 1.2rem;
}

.drink__instructions p {
  width: 80%;
  margin-inline-start: 2em;
}

.drink__instructions p:last-of-type {
  text-align: center;
  color: var(--color-accent);
  margin-block-start: 1rem;
  margin-inline: 0;
  width: 100%;
}

.drink__image {
  position: relative;
  min-width: 15rem;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-block-start: 2rem;
  width: 80%;
  min-width: 12.5rem;
  margin-inline: auto;
}

.drink__image img {
  border-radius: 1em;
}
