.form {
  margin-block-start: 1rem;
}

.form__select,
.form__input {
  width: 100%;
  margin-block-start: 0.5rem;
}

.form__element:first-of-type {
  margin-block-start: 0.5rem;
}

.form__element:nth-of-type(2) {
  margin-block-start: 2rem;
}

.form__element label {
  font-size: 1.4rem;
  color: var(--color-primary);
}

.form__element select,
.form__element input {
  font-size: 1.2rem;
  color: var(--color-accent);
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary);
  border-width: 0.05em;
  border-radius: 0.4em;
  padding-inline: 0.5em;
  padding-block: 0.5em;

  &::placeholder {
    color: var(--color-accent);
  }
}

.form__button {
  position: relative;
  display: block;
  margin-inline: auto;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font-secondary);
  letter-spacing: 0.04em;
  background-color: var(--color-accent);
  color: var(--color-secondary-dark);
  border: none;
  padding-block: 1em;
  padding-inline: 2em;
  border-radius: 0.5em;
  margin-block-start: 3rem;
}

.form__button:hover,
.form__button:focus {
  background-color: var(--color-secondary-accent);
  cursor: pointer;
  color: var(--color-secondary-dark);
  text-shadow: none;
}

.error__container p {
  margin-block-start: 0.3em;
}
