/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  font-family: var(--font-secondary);
}

a {
  color: var(--color-accent);
}

a:hover,
a:focus {
  color: var(--color-primary);
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

:root {
  --color-primary: #fafafa;
  --color-accent: #efac27;
  --color-secondary-accent: #d07630;
  --color-primary-dark: #070808;
  --color-secondary-dark: #262119;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
}

p {
  font-family: var(--font-secondary);
}

fieldset {
  border: none;
}

body {
  color: var(--color-primary);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7))), url(../../../public/images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

*:focus {
  outline: 2px dotted var(--color-primary);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--color-secondary-dark);
  color: var(--color-accent);
  width: 100%;
  text-align: center;
  padding-block: 1.5em;
}

footer a {
  display: block;
  color: var(--color-primary);
  text-decoration: none;
  margin-block-start: 0.3rem;
}

footer {
  display: none;
}
