.header {
  display: grid;
  margin-block-start: 2rem;
  justify-content: center;
}

.header__logo-container {
  position: relative;
  width: 17rem;
  height: 7rem;
}

.header__logo-container::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color-accent);
  top: 80%;
  left: 20%;
  width: 60%;
  height: 30%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.4;
}

.header__nav {
  justify-self: center;
}

.header__nav-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-start: 1rem;
  gap: 2.5rem;
}

.header__nav-link {
  color: var(--color-accent);
  font-size: 1.5rem;
  text-decoration: none;
}
