.header {
  display: grid;
  margin-block-start: 2rem;
  justify-content: center;
}

.header__logo-container {
  position: relative;
  width: 17rem;
  height: 7rem;
}

.header__logo-container::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--color-accent);
  top: 150%;
  width: 60%;
  height: 30%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.9;
}

.header__logo-container--home::before {
  left: -20%;
}

.header__logo-container--search::before {
  left: 46%;
}

.header__logo-container--home .header__logo-container--search::before .header__nav {
  justify-self: center;
}

.header__nav-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-start: 1rem;
  gap: 2.5rem;
}

.header__nav-link {
  color: var(--color-accent);
  font-size: 1.5rem;
  text-decoration: none;
}

.header a {
  color: var(--color-primary);
}

.header a:hover,
.header a:focus {
  border-bottom: 2px solid var(--color-primary);
}

.header a[aria-current="page"] {
  color: var(--color-accent);
  border-color: var(--color-accent);
}
