.home__hero {
  position: relative;
  background: rgba(0, 0, 0, 0.62);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.875 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.194rem);
  -webkit-backdrop-filter: blur(0.194rem);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-inline: 2em;
  padding-block: 3em;
  top: 2%;
}

.home__sub-heading {
  color: var(--color-accent);
  text-align: center;
  font-size: 1.7rem;
}

.home__search-results-title {
  font-size: 1.8rem;
  margin-block-start: 8.5rem;
  margin-inline-start: 2rem;
}

.home__text {
  text-align: center;
  font-size: 1.5rem;
  margin-block-start: 2rem;
}
