.pager-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3.125rem, 1fr));
  gap: 0.6em;
  width: 90%;
  justify-items: center;
  margin-block: 2rem;
  margin-inline: auto;
}

.pager-button {
  background-color: var(--color-accent);
  color: var(--color-primary-dark);
  cursor: pointer;
  font-size: 1.4rem;
  font-family: var(--font-primary);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: none;
}

.pager-button-inactive {
  background-color: var(--color-primary-dark);
  color: var(--color-primary);
}

.pager-button-active {
  background-color: var(--color-accent);
  color: var(--color-primary-dark);
}

.pager-arrow {
  font-weight: bold;
}
